<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This would be an UI for ml model prediction">
        <title>Predict</title>
        <style>
            h1 {text-align: center;}
            </style>
            
    </head>
    <body style="background-color: lightblue;">
        <h1>Predict the coder score</h1>
            <hr/><hr/>
        </h1>
        <p style="color: red;background-color: yellow;"><b> select the model type</b></p>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit"/>
        </form>

    </body>
</html>